body{
    margin: 0 !important;
    padding: 0 !important;
}

ul {
    height: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(29, 155, 240);
}

ul p{
    float: left;
    padding: 5px;
}

li {
display: inline;
    float: right;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

li a:hover {
    background-color: cornflowerblue;
}

.active {
    background-color: rgb(29, 155, 240);
}
.Tweets{
    height: 95vh;
    width: 500px;
    background-color: rgb(29, 155, 240);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 500px;
    border-radius: 15px;
    padding: 5px;
}
#wittekst{
    color: white;
    text-align: center;
    font-family: Arial;
    margin-top: 20px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid white;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: deepskyblue;}