body{
    margin: 0 !important;
    padding: 0 !important;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("img_4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.navbar{
    width: 100%;
    height: 5px;
    margin: auto;
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #4ACAC1;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

#logo{
    width: 75px;
    cursor: pointer;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


.Tweets{
    height: 95vh;
    width: 500px;
    background-color: #4ACAC1;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 500px;
    border-radius: 15px;
    padding: 5px;
}
#wittekst{
    color: white;
    text-align: center;
    margin-top: 20px;

}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(29, 155, 240);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: solid white;
    border-radius: 4px;
    cursor: pointer;
}


input[type=submit]:hover {
    background-color: deepskyblue;
}


input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.berichten{
    padding: 10px;
    width: 800px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
}